.spaContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr / 1fr 10fr;
  /* grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr; */
  grid-template-areas: "left-side right-side";
}

.left-side {
  grid-area: left-side;
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-side {
  grid-area: right-side;
  height: 100%;
  background-color: coral;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr;
  grid-template-areas: "Header" "home-work-area" "Footer";
  }

.Header {
  grid-area: Header;
}

.home-work-area {
  grid-area: home-work-area;
}

.Footer {
  grid-area: Footer;
}