.alerts-wa{
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.alerts-title {
    margin-top: 50px;
    padding: 0;
    color: "#bcbbbb";
}

.alerts-table {
    margin: 50px;
    width: 80%;
    text-align: center;
}

.alerts-table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

th {
    padding: 12px;
    color: #bcbbbb;
    background-color: #242729;
}

td {
    padding: 8px;
}