.FooterLabel {
    margin-right: 30px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.FooterUser {
    margin-right: 30px;
    font-size: 20px;
    color: green;
    font-weight: 500;
}
