.Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 36px;
}

.Header > .HeaderTitle {
    margin-right: 15%;
    color: darkblue;
}

.Header > .navlink {
    margin-right: 30px;
    color: red;
    text-decoration: none;
}
