.imports-wa{
    height: 100%;
    background-color: #42bbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imports-title {
    margin: 0;
    padding: 0;
}

.select-file-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.select-file-label {
    width: 300px;
    height: 30px;
    border: 1px red solid;
    background-color: rgb(185, 179, 179);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.import-button {
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}
