.Login{
    width: 300px;
    height: 280px;
    padding: 15px;
    background-color: #f48024;
    border: 2px white solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.userInput, .passwordInput {
    margin-bottom: 40px;
    width: 100%;
    font-size: 24px;
    font-family: Geneva, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    color: white;
}

.userInput::placeholder, .passwordInput::placeholder {
    color: #777777;
    font-style: italic;
    font-weight: 800;
}

.userInput:focus, .passwordInput:focus, .submitButton:focus {
    outline: none;
}

.submitButton {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: #242729;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    letter-spacing: 3px;
}

.submitButton:hover {
    background-color: #322b44e3;
}

.authMessage {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    text-align: center;
}

.spaContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr / 1fr 10fr;
    grid-template-areas: "left-side right-side";
  }
  
  .left-side {
    grid-area: left-side;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .right-side {
    grid-area: right-side;
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  
  .Header {
    grid-area: Header;
  }
  
  .Footer {
    grid-area: Footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fafbfb;
    border-top: 1px solid black;
    height: 36px;
  }