.queries-wa{
    height: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queries-title {
    margin: 0;
    padding: 0;
    color: "#bcbbbb";
}